<div class="container text-center">
    <alert></alert>
</div>
<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<div class="row justify-content-center">
    <h1 class="text">Agrega una canción</h1>
</div>
<div class="row justify-content-center">
    <div class="col-md-4" text-align="center">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="cancionForm" (ngSubmit)="addCancion(Nombre, Artista, Album, Anio, Genero)" novalidate>
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input formControlName="name" type="text" class="form-control" placeholder="Let It Be"
                            maxlength="100" id="nombre" required #Nombre>
                            <div class="error" *ngIf="name.touched && name.hasError('required')">Ingrese Nombre</div>
                    </div>
                    <div class="form-group">
                        <label for="artist">Artista</label>
                        <input formControlName="artist" type="text" class="form-control" placeholder="The Beatles" maxlength="100"
                            id="artista" #Artista required>
                            <div class="error" *ngIf="artist.touched && artist.hasError('required')">Ingrese Artista</div>
                    </div>
                    <div class="form-group">
                        <label for="album">Álbum</label>
                        <input formControlName="album" type="text" class="form-control" placeholder="The Beatles" maxlength="100"
                            id="album" #Album required>
                            <div class="error" *ngIf="album.touched && album.hasError('required')">Ingrese Álbum</div>
                    </div>
                    <div class="form-group">
                        <label for="year">Año</label>
                        <input formControlName="year" class="form-control" placeholder="1968" maxlength="4" type="number"
                            id="anio" min="1900" #Anio required>
                            <div class="error" *ngIf="year.touched && year.hasError('required')">Ingrese Año</div>
                    </div>
                    <div class="form-group">
                        <label for="gender">Género</label>
                        <input formControlName="gender" type="text" class="form-control" placeholder="Pop, Rock" maxlength="50"
                            id="validationCustom05" #Genero required>
                            <div class="error" *ngIf="gender.touched && gender.hasError('required')">Ingrese Género</div>
                    </div>
                    <button class="btn btn-rose btn-block" type="submit" [disabled]="!cancionForm.valid">
                        Guardar
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>