<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-item-center">
            <h5 class="titulo card-title">{{cancion.nombre}}</h5>
        <div>
        <button class="btn btn-rose" (click) = "cancion.hide = !cancion.hide">Detalle</button>
        <button type="button" class="btn btn-info" routerLink="/editar/{{cancion.id}}">Editar</button>
        <button class="btn btn-eliminar " (click)="deleteCancion(cancion)">Eliminar</button>
    </div>
    </div>
        <div class="card-body" [hidden]="cancion.hide">
                <li class="list-group-item">
                    <h6 class="card-subtitle mb-2 text-muted">Artista:</h6>
                    <p class="card-text">{{cancion.artista}}</p>
                </li>
                <li class="list-group-item">
                        <h6 class="card-subtitle mb-2 text-muted">Album:</h6>
                        <p class="card-text">{{cancion.album}}</p>
                </li>
                <li class="list-group-item">
                        <h6 class="card-subtitle mb-2 text-muted">Año:</h6>
                        <p class="card-text">{{cancion.anio}}</p>
                </li>
                <li class="list-group-item">
                        <h6 class="card-subtitle mb-2 text-muted">Género:</h6>
                        <p class="card-text">{{cancion.genero}}</p>
                    </li>
    </div>
</div>